.container{
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.hky_back{
	background-color: #2196f3;
}
body{
	font-size: 13px;
	line-height: 1.45857143;
	color: #5e5e5e;
	background-color: #edecec !important;
	font-family: "微软雅黑","宋体";
}
.mdl-layout__content{margin-top: 8px;}
.mdl-layout-title{font-size: 16px;}
.mdl-layout__header-row{height: 68px;}
.mdl-navigation__link{opacity: 1.8;}
.mdl-layout__header-row .mdl-navigation__link{padding: 0 16px;}
.mdl-layout__header-row{padding: 0 12px 0 80px;}
.mdl-card{width: 100%;min-height: 0px;}
.hky_title .mdl-card__title{padding: 0px;}
.hky_title .mdl-card__actions.mdl-card--border{background-color: #f8f8f8;}
.title .mdl-grid{display: block;}
.mdl-textfield__label{font-size: 14px;font-weight: 500;}
/*.mdl-textfield{padding-top: 0;padding-bottom: 0px;}*/
.mdl-textfield--expandable .mdl-button--icon{top: 0px;}
.hky_title{
	position: relative;
	bottom: 20px;
}

.hky_i{
	padding-right: 10px;
}
/*-- 修改 --*/
.hky_card_title {
  color: #fff;
  height: 141px;
  background: url('../images/banner8.jpg') center / cover;
}
.tip {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    position: absolute;
    width: 100%;
    font-size: 22px;
}
.hky_menu button i{
	color: #fff;
}
.singe img{
	border-radius: 50%;
	height: 96px;
	left: 20px;
	position: absolute;
	top: 88px;
	width: 96px;
	border: 4px solid #fff;
}
.text1 h2{
	font-size: 18px;
	line-height: 11px;
	position: relative;
	top: 5px;
}
.text1 input{
	width: 100%;
}
.hky_width{
	width: 100%;
	position: relative;
    right: -34px;
    margin-top: 50px;
}
.hky_width1{
	width: 100%;
	position: relative;
    right: -34px;
}
.mdl-card__menu {
    position: absolute;
    right: 16px;
    top: 101px;
}
.hky_botton{
	padding: 0 7px;
	position: relative;
	left: 33px;
	font-size: 12px;;
}
.hky_basic{
	font-size: 12px;
	margin-bottom: 15px;
	position: relative;
	left: 33px;
	margin-top: 25px;
}
.hky_basic a{
	margin-right: 30px !important;
}
.hky_basic label{
	margin-right: 18px !important;
	font-size: 14px;
	font-weight: 500;
}
.hky_botton_a{
	text-align: right;
}
.hky_botton_a .hky-right{
	margin-right: 10px;
}
.hky_a{
	color: #000;
	position: relative;
	top: 8px;
}
.hky-icon:hover{
	color: #0a6ebd;
	text-decoration: none;
}
/*-- end --*/